<div class="page-header">
  <h1>All Tasks</h1>
</div>
<div class="container">

<table id="tasks">
  <% @tasks.each do |task| %>
  <tr>
    <td>
      <a href="/tasks/<%= task.id %>"><%= task.title %></a>
    </td>
    <td>
      <a href="/tasks/<%= task.id %>/edit">Edit</a>
    </td>
    <td>
      <form action="/tasks/<%= task.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">      <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  <% end %>
</table>
