<div class="page-header">
  <h1>Enter a new task</h1>
</div>
<form action="/tasks" method="post">
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input class='btn btn-primary' type='submit'/>
</form>
